<div class="container">

    <div class="jumbotron">
       <img src="/assets/img/maxresdefault.jpg" class="img-responsive fit-image">
        <h1>Themed custom order</h1>
        <panel>

            <div class="input-group mb-3">
                <form class="create-form"> <input type="text" data-placeholder="" id="newburger" name="burger"
                        aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success" id="addburger">Create</button>
                    </div>
                </form>

            </div>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Select from menu</strong>
                    <p>Ready to eat!</p>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless dataValues.devoured}}

                        <span><strong> {{dataValues.id}} - {{dataValues.burger_name}}</strong></span>
                        <button type="button" class="eatBurger btn btn-warning" data-id="{{dataValues.id}}"
                            data-newDevoured="{{dataValues.devour}}"><img src="/assets/img/burger.png" width="20" /></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>The stuff you have ordered...</strong>
                    <p>if you want to forget the fact that you have over orderd ..just trash it</p>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if dataValues.devoured}}
                        <span><strong> {{dataValues.id}} - {{dataValues.burger_name}}</strong></span>
                        <button type="button" class="trashBurger btn btn-danger" data-id="{{dataValues.id}}"
                            data-newDevoured="{{dataValues.devour}}"><span class="fa fa-trash"></span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>



                </div>
            </div>
        </div>

    </div>

</div>
